# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python2.6
    - CONFIG=osx_python3.6
    - CONFIG=osx_python3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "4MCiTCd9VjM45JtUbnTAhU/MgCtQRijitgzjeXoz6PM83X29kzbg2ImZy64P6UKAZV59grI5OAKNNMPZkbm5Ku17hx00HyP2Cr1grbj4GTGHEk3Y9shhP66nydEgYlfxayZAqKOAQj2EB0st5SQ7K41XRvMdSOM0AXA86WHtxczobN73K32XKDt3zZ8M7yshyClxMgeyth3J/hbOh/LYtp5gghRUSi+sNkOuPjf1zWgsCJDaq10SoW00KbD0cJhdDUA/Dgxqkwrib2N40w2QENjDLGIDqUdNd5yIegVfLb3kliYGfbE0kdFKXqMfUDOUWzQRrdl1/2CBvc092MIsWRkLY6fgforg3HSCxnwfuQsUnw+8fw1OD2V3c5EWPTHQF6RgwQRoJqpgpaQMWLeY2RBh38zoe9VCfTHkhQ2lCq2q7ZvMN91GiNFx4gEqCzi5C2uwLJImim1xlVqYId/mYBhtccocMUb7qpVRZjvfSRL6Keaq58Dq0uQZ0S47JsZ5nal+GHwHzig+dnITbPi/eaLCpE1VEe8QzpXkEQZjJT7hzy9/NdTN0wZS7fCQ8IPcm9w/m2WuLwivjex9yg62rY/GjdWbBrh0ClhY1FdwYR1Gc05ELWVW0vYCkVnAXlAlLz7rDpGWZq7113Gfgq1KjniQbHWNjbtE+cR0APoQAbU="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/2.x/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/uninstall.sh > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
